{% extends "base.html" %}

{% block evento %}
    {% if error == false %} {# Si el evento existe #}
        <section class="evento">
            <div class="head">
                <div class="titulos">
                    <h2>{{ titulo }}</h2>
                    <h3>{{ subtitulo }}</h3>
                </div>
                {% if usuario %}
                    <input onclick="comentario(); scrollToBottom();" type="button" id="boton" value="Comentar">
                {% endif %}
            </div>

            <section class="contenido">
                <div class="parrafos">
                    {% for parrafo in parrafos %}
                        <p>
                            {{ parrafo }}
                        </p>
                    {% endfor %}
                </div>

                <div class="imagenes">
                    <img src="{{ imagen }}" alt="{{ titulo }}">
                    <a href="/imprimir/{{ idEv }}" title="Imprimir">
                        <i class="fas fa-print impresora"></i>
                    </a>
                </div>
            </section>
            
            {% if usuario %}
                <section id="comentarios" style="display:none">
                    <input id="cerrar" onclick="comentario()" type="image" src="/img/cerrar.png" alt="cerrar">
                    <section id="old">
                        {% for comentario in comentarios %}
                            <div class="comentario">
                                {% if loop.index != 1 %}
                                    <hr><br>
                                {% endif %}
                                {% if usuario.moderador or usuario.superusuario %}
                                    <a id="botonBorrar" title="Borrar Comentario" href="/borrarComentario/{{ idEv }}/{{ comentario.idCom }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    <a id="botonEditar" title="Editar Comentario" href="/paginaEditarComentario/{{ idEv }}/{{ comentario.idCom }}/{{ comentario.mensaje }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                {% endif %}
                                <p class="mensaje">{{ comentario.mensaje }}</p>
                                <p class="nombre">{{ comentario.nombre }}</p>
                                <p class="fecha">{{ comentario.fecha }}</p>
                            </div>
                        {% endfor %}
                    </section>
                    <form action="/enviarComentario" method="post" id="formulario-enviarComentario" class="formulario" name="enviarComentario">
                        
                        <input style="display:none" type="number" name="idEv" id="idEv" value="{{ idEv }}">

                        <label for="email">E-mail:</label>
                        <input type="email" name="email" id="email" placeholder="Escriba su e-mail">
                        
                        <label for="mensaje">Mensaje:</label>
                        <textarea oninput="censurarTexto()" name="mensaje" id="mensaje" placeholder="Escriba el mensaje que desea enviar"></textarea>
                        
                        <input id="boton_enviar" onclick="new_mensaje()" type="submit" value="Enviar">
                    </form>
                </section>
            {% endif %}
        </section>
    {% else %} {# Si el evento no existe #}
        <section class="evento">
            <div class="head">
                <div class="titulos">
                    <h2>{{ titulo }}</h2>
                    <h3>{{ subtitulo }}</h3>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}