<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web para la primera práctica de SIBW">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/impresion.css">
    <title>MOTOCICLETAS RS</title>
</head>
<body>
    <header>
        <img id="logo" src="/img/logoRS.png" alt="Logotipo de la página">
        <h1>
            <a href="/inicio">MOTOCICLETAS RS</a>
        </h1>
    </header>

    <section class="main">
        {% if error == false %} {# Si el evento existe #}
            <section class="evento">
                <div class="titulos">
                    <h2>
                        <a href='/evento/{{ idEv }}'>{{ titulo }}</a>
                    </h2>
                    <h3>{{ subtitulo }}</h3>
                </div>
                
                <section class="contenido">
                    <div class="parrafos">
                        {% for parrafo in parrafos %}
                            <p>
                                {{parrafo}}
                            </p>
                        {% endfor %}
                    </div>
                    <div class="imagenes">
                        <img src="{{ imagen }}" alt="{{ titulo }}">
                    </div>
                </section>
            </section>
        {% else %} {# Si el evento no existe #}
            <section class="evento">
                <div class="head">
                    <div class="titulos">
                        <h2>{{ titulo }}</h2>
                        <h3>{{ subtitulo }}</h3>
                    </div>
                </div>
            </section>
        {% endif %}
    </section>

    <footer>
        <p>Raúl Soria González  ©   2020</p>
    </footer>
    
</body>
</html>