{% extends "base.html" %}

{% block evento %}
    <section class="login">
            <div class="iniciar">
                <form action="login" method="post" id="formulario-login" class="formulario" name="iniciarSesion">
                    <h3>INICIAR SESION</h3>
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Escriba su nombre">
                    
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" placeholder="Escriba su contraseña">
                    
                    <input id="boton_enviar" type="submit" value="Iniciar Sesión">
                </form>
            </div>
            <div class="registrar">
                <form action="registrar" method="post" id="formulario-registrar" class="formulario" name="registrarse">
                    <h3>REGISTRARSE</h3>
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Escriba su nombre">
                    
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" placeholder="Escriba su contraseña">
                    
                    <input id="boton_enviar" type="submit" value="Registrarse">
                </form>
            </div>
        </section>
{% endblock %}