{% extends "base.html" %}

{% block evento %}
    <section class="articulos">
        <h2>Nuestras Motos</h2>
        {% if usuario.gestor or usuario.superusuario %}
            <a id="botonAddEvento" title="Añadir Evento" href="/paginaAddEvento">
                <i class="fas fa-plus-square"></i>
            </a>
        {% endif %}
        <section class="tabla">
        {% for conjunto in eventos %}
            <div class="row">
            {% for evento in conjunto %}
                <div class="column">
                {% if usuario.gestor or usuario.superusuario %}
                    <a id="botonBorrar" title="Borrar Evento" href="/borrarEvento/{{ evento.idEv }}">
                        <i class="fas fa-trash"></i>
                    </a>
                    <a id="botonEditar" title="Editar Evento" href="/paginaEditarEvento/{{ evento.idEv }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a id="botonOcultarEvento" title="Ocultar Evento" href="/ocultarEvento/{{ evento.idEv }}">
                        <i class="fas fa-eye-slash"></i>
                    </a>
                {% endif %}
                    <a href="/evento/{{ evento.idEv }}">
                        <img src="{{ evento.portada }}" alt="{{ evento.titulo }}">
                        {{ evento.titulo }}
                    </a>
                </div>
            {% endfor %}
            </div>
        {% endfor %}

        {% if usuario.gestor or usuario.superusuario %}
        {% for conjunto in ocultos %}
            <div class="row">
            {% for evento in conjunto %}
                <div class="column">
                {% if usuario.gestor or usuario.superusuario %}
                    <a id="botonBorrar" title="Borrar Evento" href="/borrarEvento/{{ evento.idEv }}">
                        <i class="fas fa-trash"></i>
                    </a>
                    <a id="botonEditar" title="Editar Evento" href="/paginaEditarEvento/{{ evento.idEv }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a id="botonMostrarEvento" title="Mostrar Evento" href="/mostrarEvento/{{ evento.idEv }}">
                        <i class="fas fa-eye"></i>
                    </a>
                {% endif %}
                    <a href="/evento/{{ evento.idEv }}">
                        <img src="{{ evento.portada }}" alt="{{ evento.titulo }}">
                        {{ evento.titulo }}
                    </a>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        {% endif %}
            {# <div class="row">
                <div class="column">
                    <a href="/evento/1">
                        <img src="/img/CB1000R.jpg" alt="CB1000R">
                        Honda CB1000R
                    </a>
                </div>
                <div class="column">
                    <a href="/evento/2">
                        <img src="/img/Panigale V4.jpg" alt="Panigale V4">
                        Ducati Panigale V4
                    </a>
                </div>
                <div class="column">
                    <a href="/evento/1">
                        <img src="/img/Fireblade.jpg" alt="Fireblade">
                        Honda CBR1000RR-R (Fireblade)
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="/evento/1">
                        <img src="/img/Fat Bob.jpg" alt="Fat Bob">
                        Harley Davidson Fat Bob
                    </a>
                </div>
                <div class="column">
                    <a href="/evento/1">
                        <img src="/img/Monster 1200 S.jpg" alt="Monster 1200 S">
                        Ducati Monster 1200 S
                    </a>
                </div>
                <div class="column">
                    <a href="/evento/1">
                        <img src="/img/Africa Twin.jpg" alt="Africa Twin">
                        Honda Africa Twin
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="/evento/1">
                        <img src="/img/Streetfighter.jpg" alt="Streetfighter">
                        Ducati Streetfighter
                    </a>
                </div>
                <div class="column">
                    <a href="/evento/1">
                        <img src="/img/Rebel.jpg" alt="Rebel">
                        Honda Rebel
                    </a>
                </div>
                <div class="column">
                    <a href="/evento/1">
                        <img src="/img/Scout.jpg" alt="Scout">
                        Indian Scout
                    </a>
                </div>
            </div> #}
        </section>
    </section>
{% endblock %}